.app {
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 4rem;
}

.inputs-wrapper {
  border: solid 1px rgb(124, 124, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 200px;
  padding: 1rem;
}

.input-text {
  width: 150px;
}

.input-range,
.input-size {
  width: 150px;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.output {
  border: solid 1px white;
  height: 50px;
  box-sizing: border-box;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}
